Builds

###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Ll]ogs/
[Oo]bj/
[Tt]emp/
[Uu]nity[Gg]enerated/
[Uu]ser[Ss]ettings
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# VS Code files
###
.vscode
.VSCodeCounter

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

###
# Misc files and folders
###
[Ee]xport
[Ss]creenshots
*.patch

*.idea